
@{
    Layout = null;
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

@await Html.PartialAsync("HeadPartial")

<body>
	<!--Header-->
	@await Html.PartialAsync("HeaderPartial")
	
	<!--//header-->
	<!--/banner-->
	@await Html.PartialAsync("BannerPartial")
	<!--//banner-->
	@RenderBody()
	<!--footer-->
	@await Html.PartialAsync("FooterPartial")
	<!---->
	<!-- js -->
	@await Html.PartialAsync("ScriptsPartial")


</body>

</html>